
.parent { 
    display: flex;
    width: 100%;
  } 
.child1 {
    flex: 1;
    margin-left: 20%;
}

.child2 {
    flex: 1;
    margin-right: 5%;
}
.div1, .div2 { 
    display: inline-block; 
    vertical-align: middle; 
  } 

