service firebase.storage {
  match /b/{bucket}/o {
    match /CandidatesFiles/{id}/cv/{document=**} {
      allow read, write: if request.auth != null;
    	allow create: if request.resource.data.size() < 1;
    }
    match /CandidatesFiles/{id}/rec/{document=**} {
      allow read, write: if request.auth != null;
      allow create: if request.resource.data.size() < 3;
    }
  }
}