.recruiter-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* Buttons Component */
.button-group {
  display: flex;
  justify-content: space-between;
  margin: 5% 15%;
}

.button {
  padding: 24px 24px;
  margin: 0 5%;
  height: 10rem;
  width: 10rem;
  font-size: 20px;
  border-radius: 8px;
  background-color: #2d88ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:first-child {
  margin-left: 25px;
}

.button:last-child {
  margin-right: 25px;
}

.button:hover {
  background-color: #87a8dd;
}

/* Circles Component */
.circle-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.circle {
  width: 16rem;
  height: 16rem;
  border-radius: 8rem;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.circle p {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 5px;
}

.circle span {
  font-size: 1.5rem;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #d43a3a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
