table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: 0.5%;
  }
 
  th, td {
    text-align: right;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 
  th {
    background-color: #4ca3af;
    color: white;
  }

  tr:hover{
    background-color: #dedddd;
 }