/* Base CSS Variables */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-text: #040C18;
    --color-footer: #031B34;
    --color-id: #042c54;
    --color-subtext: #FF8A71;

    /* navbar colors */
    --color-navbar-text: rgb(255, 255, 255);

    --color-cyan: #5AC3F2;
    --color-blue: #153C7C;
    --color-orange: #D8491C;
    --color-purple: #B31C6B;
}